@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root {
  --clr-primary: hsl(322, 100%, 66%);
  --clr-primary-light: hsl(321, 100%, 78%);
  --clr-red: hsl(0, 100%, 63%);

  --clr-cyan-dark: hsl(192, 100%, 9%);
  --clr-blue-light: hsl(207, 100%, 98%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  min-height: 100vh;
}

.btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 0.25rem 1rem;
  color: white;
  background-color: #ff8fd8;
  border-radius: 5px;
}

.btn-outline {
  background-color: transparent;
  color: #ff8fd8;
  border: 1px solid #ff8fd8;
  border-radius: 25px;
}

.btn-round {
  padding: 0.825rem 2rem;
  font-weight: 600;
  background-color: #ff52bf;
  border-radius: 45px;
}

.container {
  max-width: 1300px;
  padding: 0 2rem;
  margin: 0 auto;
}

/* NAVBAR */
.navbar {
  padding: 2rem 1rem;
}

.navbar img {
  width: min(30vw, 240px);
}

/* HERO */
.hero .container {
  padding-top: 5rem;
  max-width: 1150px;
}
.hero .btn {
  width: 200px;
}
.hero .stats {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  row-gap: 2rem;
}
.hero .stats__icon {
  width: 2rem;
}
.hero .stats__desc {
  color: gray;
}
