@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root {
  --clr-primary: hsl(322, 100%, 66%);
  --clr-primary-light: hsl(321, 100%, 78%);
  --clr-red: hsl(0, 100%, 63%);

  --clr-cyan-dark: hsl(192, 100%, 9%);
  --clr-blue-light: hsl(207, 100%, 98%);

  --fs-sm: 0.725rem;
  --fs-md: 0.875rem;
  --fs-lg: 1.725rem;
  --fs-xl: 1.525rem;
  --fs-2xl: 3.125rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

body {
  color: var(--clr-cyan-dark);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  min-height: 100vh;
}

button {
  display: block;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 0.75rem 2.5rem;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.15rem;
  background-color: #ff52bf;
  border-radius: 5px;
}

input[type='email'] {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--fs-md);
  padding: 0.85rem 0.5rem;
  border-radius: 5px;
  border: none;
}

.btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 0.25rem 1rem;
  color: white;
  font-weight: 600;
  background-color: #ff52bf;
}

.btn-outline {
  background-color: transparent;
  color: #ff8fd8;
  border: 1px solid #ff8fd8;
  border-radius: 25px;
}

.btn-round {
  padding: 0.825rem 2rem;
  border-radius: 45px;
}

.container {
  max-width: 1300px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

/* NAVBAR */
.navbar {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  width: min(30vw, 240px);
}

.navbar .btn {
  font-size: var(--fs-sm);
}

/* HERO */
.hero .container {
  padding-top: 5rem;
  max-width: 1150px;
  display: grid;
  place-items: center;
}

.hero__title {
  font-size: var(--fs-lg);
}

.hero__desc {
  margin-top: 1rem;
  font-size: var(--fs-md);
}

.hero__btn {
  margin-top: 2rem;
  font-size: var(--fs-sm);
  width: 200px;
}

.hero__img {
  margin: 4rem 0;
}

.hero__stats {
  display: grid;
  place-items: center;
  row-gap: 4rem;
}

.stats__icon {
  width: 2rem;
}

.stats__title {
  font-size: var(--fs-2xl);
  font-weight: 700;
}

.stats__desc {
  font-size: var(--fs-md);
  color: gray;
}

.together,
.conversations,
.users {
  padding: 6rem 0;
}

/* TOGETHER */
.content {
  text-align: center;
}

.content__title {
  margin-top: 5rem;
  font-size: var(--fs-xl);
}

.content__desc {
  margin-top: 1rem;
  font-size: var(--fs-md);
  font-weight: 600;
}

/* ACTION */
.action {
  padding: 6rem 0;
}

.action .container {
  text-align: center;
}

.action__title {
  font-size: var(--fs-xl);
  margin-bottom: 2rem;
}

.action__btn {
  font-size: var(--fs-sm);
}

/* FOOTER */
footer {
  color: var(--clr-blue-light);
  background-color: var(--clr-cyan-dark);
  padding: 6rem 0;
}

footer p {
  opacity: 0.8;
}

.newsletter__title {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--fs-lg);
  margin-bottom: 1rem;
}

.newsletter__desc {
  font-size: var(--fs-md);
}

.newsletter__form {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

input[type='email'] {
  width: 100%;
  margin-bottom: 1rem;
}

.contact {
  margin-top: 6rem;
}

.contact img {
  width: 200px;
}

.contact__desc {
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: var(--fs-md);
}

.contact__item {
  display: flex;
  margin: 1.5rem 0;
}

.contact__item img {
  width: 24px;
}

.contact__item p {
  font-weight: 400;
  margin-left: 1rem;
  font-size: var(--fs-md);
}

.socials {
  margin-top: 4rem;
}

.socials a {
  margin-right: 1rem;
  cursor: pointer;
}

@media (min-width: 768px) {
}
