@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

$colorPrimary: hsl(322, 100%, 66%);
$colorLightPrimary: hsl(321, 100%, 78%);
$colorLightRed: hsl(0, 100%, 63%);

$colorNeutralCyan: hsl(192, 100%, 9%);
$colorNeutralPaleBlue: hsl(207, 100%, 98%);

$fontHeading: 'Poppins', sans-serif;
$fontBody: 'Open Sans', sans-serif;
